body {
  margin: 0;
  margin-top: 10px;
  background-image: url(http://1-background.com/images/clouds/clouds-fluffly-clouds-seamless-background-blue-sky.jpg);
}

h1 {
  text-align: center;
  color: darkblue;
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 10px;
}

h2 {
  color: darkblue;
  font-size: 50px;
}

h3 {
  color: darkblue;
  font-size: 35px;
}

img {
  padding-top: 20px;
  padding-bottom: 50px;
}

div .item {
  color: darkblue;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
}

div .item:hover {
  color: lightblue;
}

div .info{
  color: darkblue;
  font-size: 25px;
  padding-bottom: 50px;
}

div .date{
  font-size: 25px;
  color: #00ff14;
  padding-bottom: 20px;
}

div .city{
  font-size: 23px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: darkblue;
  font-family: 'Nunito', sans-serif;
  font-style: bold;
}

div .max{
  font-size: 23px;
  color: darkblue;
  font-family: 'Nunito', sans-serif;
  font-style: bold;
}

div .price{
  font-size: 30px;
  padding-bottom: 20px;
  color: red;
  font-style: bold;
  text-decoration: underline;
}

#container {
  text-align: center;
  color: white;
  font-style: bold;
  clear: both;
  margin-top: 10px;
}

form {
  text-align: center;
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.cityinput {
  width: 200px;
}

.maxinput{
  width: 150px;
}

input[type=text] {
  display: inline;
}

input[type=text]:focus {
  outline: none;
}

button {
  border-radius: 15%;
  padding: 5px 25px;
  font-size: 17px;
  color: #1d1e1d;
  background-color: white;
}

a {
  color: darkblue;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}
