<div class="container itempage">
  <div class="back">
    <button ng-click="goToList()" class="back mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <div>Back to List</div>
    </button>
  </div>
  <div class="itembody">
    <h3 class="itemtitle">{{ item.data.title }}</h3>
    <div class="posted">Posted At: {{ posted }}</div>
    <img class="itemimg" ng-src="{{ item.data.images[0] }}">
    <div class="info">
      <div class="price" ng-if="item.config.data.item.price">
        Price: {{ item.config.data.item.price }}
      </div>
      <div class="description">
        {{ item.data.description }}
      </div>
      Map
      <hr>
      <iframe class="map" ng-if="item.data.mapUrl" ng-src="{{ location }}"></iframe>
    </div>
    <a class="url" href="{{ item.data.url }}">Go to the URL</a>
  </div>
</div>
