body {
  margin: 0;
  margin-top: 10px;
  background-color: #e5eff1;
}
/*Title Style*/
img.logo {
  width: 100px;
  height: 70px;
}
span.title {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  color: white;
}

/*List Style*/
div.searchForm {
  margin-top: 30px;
}

input.iteminput {
  height: 35px;
  margin: 0 5px 15px 0;
}

input.cityinput {
  height: 35px;
  margin: 0 0 15px 4px;
}

input.maxinput {
  height: 35px;
  margin-bottom: 15px;
}

h3.listTitle {
  font-family: 'Nunito', sans-serif;
  margin-top: 0;
}

div.loading {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px;
}

img.loading {
  width: 30px;
  height: 30px;
}

div.list {
  margin: 0 0 10px 0;
}

img.arrow {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

div.title {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

div.title:hover {
  color: white;
  cursor: pointer;
}

/*Item Style*/
div.back {
  margin-top: 30px;
}

h3.itemtitle {
  font-family: 'Nunito', sans-serif;
}

img.itemimg {
  margin-bottom: 20px;
}