<div id='container'>
<form name="searchForm" ng-submit="search()">
  <input ng-model="list.item" placeholder="Enter item you want to search"/>
  <button>Find</button>
  <input ng-model="max" placeholder="Max amount"/>
</form>

<h1>Lists</h1>

<div class="lists">
  <div class="list" ng-repeat="item in list | byprice:max | orderBy:'date':true">
    <div class="info">
      <a href="{{ item.url }}" >
        <div class="title">{{ item.title }}</div>
      </a>
      <div class="date">{{ item.date }}</div>
    </div>
  </div>
</div>